---
- hosts: all
  pre_tasks:
    - name: ensure UnitedRPMs repository is installed
      dnf:
        name: "https://raw.githubusercontent.com/UnitedRPMs/unitedrpms/master/RPM/unitedrpms-{{ ansible_distribution_version }}-1.noarch.rpm"
    - name: ensure required packages are installed
      package:
        name: "{{ item }}"
      with_items:
        - php
        - php-fpm
        - php-mysqlnd
        - php-pdo
        - nginx
        - mariadb
        - mariadb-server
    - name: ensure services are running
      service:
        name: "{{ item }}"
        enabled: yes
        state: running
      with_items:
        - php-fpm
        - nginx
        - mariadb
    - name: ensure timezone is configured for php
      copy:
        dest: /etc/php.d/90-custom.conf
        content: "date.timezone = UTC"
    - name: check mysql timezone installation
      command: mysql -NBe "SELECT COUNT(*) FROM mysql.time_zone"
      register: mysql_timezones_count
      changed_when: false
    - name: ensure timezone data is imported into mysql
      shell: "mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql mysql"
      when: mysql_timezones_count.stdout|int < 1
  roles:
    - vagrant
  vars:
    mythtv_mythweb_hostname: example.com
    mythtv_restore_database: /vagrant/sql/mythtv.sql
