server {
    listen 80;
    server_name {{ mythtv_mythweb_hostname }};
    root /usr/share/mythweb;

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html;
    }

    allow {{ mythtv_mythweb_allowed_network }};
    allow 127.0.0.1;
    deny all;

    location / {
        index /mythweb.php;
        try_files $uri @handler;
    }

    location ~ /.+\.php {
        include         fastcgi_params;
        fastcgi_index   mythweb.php;
        fastcgi_split_path_info ^(.+\.php)(/?.+)$;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param   PATH_INFO $fastcgi_path_info;
        fastcgi_param   db_server localhost;
        fastcgi_param   db_name mythtv;
        fastcgi_param   db_login mythtv;
        fastcgi_param   db_password {{ mythtv_database_password }};
        fastcgi_pass    php-fpm;
    }

    location @handler {
        rewrite /(.+\.(php|pl))/.* /$1 last;
        rewrite /(pl(/.*)?)$       /mythweb.pl/$1 last;
        rewrite /(.+)$             /mythweb.php/$1 last;
        rewrite /(.*)$             /mythweb.php last;
    }
}
